/*
# CSS file for Window
# Author: Maleakhi 
 */

QMenuBar {
    background:#003E74; color: white; padding: 5px 0 
}

QMenuBar::item::disabled {
    color: grey !important;
}

QStatusBar {
    background:#003E74; 
    color:white;
}